*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-content);
  line-height: 1.5;
  color: var(--white);
  margin: 0; /* Ajouter une marge 0 pour éviter des marges par défaut */
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
