@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon.eot?amnggr");
  src: url("/assets/fonts/icomoon.eot?amnggr#iefix") format("embedded-opentype"),
    url("/assets/fonts/icomoon.ttf?amnggr") format("truetype"),
    url("/assets/fonts/icomoon.woff?amnggr") format("woff"),
    url("/assets/fonts/icomoon.svg?amnggr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Voilier:before {
  content: "\e917";
}
.icon-voilier .path1:before {
  content: "\e918";
  color: none;
}
.icon-voilier .path2:before {
  content: "\e919";
  margin-left: -0.908203125em;
  color: rgb(255, 112, 67);
}
.icon-voilier .path3:before {
  content: "\e91a";
  margin-left: -0.908203125em;
  color: rgb(244, 81, 30);
}
.icon-voilier .path4:before {
  content: "\e91b";
  margin-left: -0.908203125em;
  color: rgb(255, 171, 145);
}
.icon-voilier .path5:before {
  content: "\e91c";
  margin-left: -0.908203125em;
  color: rgb(191, 54, 12);
}
.icon-voilier .path6:before {
  content: "\e91d";
  margin-left: -0.908203125em;
  color: rgb(224, 224, 224);
}
.icon-voilier .path7:before {
  content: "\e91e";
  margin-left: -0.908203125em;
  color: rgb(130, 174, 192);
}
.icon-voilier .path8:before {
  content: "\e91f";
  margin-left: -0.908203125em;
  color: rgb(185, 228, 234);
}
.icon-voilier .path9:before {
  content: "\e920";
  margin-left: -0.908203125em;
  color: rgb(55, 71, 79);
}
.icon-voilier .path10:before {
  content: "\e921";
  margin-left: -0.908203125em;
  color: rgb(55, 71, 79);
}
.icon-voilier .path11:before {
  content: "\e922";
  margin-left: -0.908203125em;
  color: rgb(55, 71, 79);
}
.icon-voilier .path12:before {
  content: "\e923";
  margin-left: -0.908203125em;
  color: rgb(224, 224, 224);
}
.icon-voilier .path13:before {
  content: "\e924";
  margin-left: -0.908203125em;
  color: rgb(191, 54, 12);
}
.icon-voilier .path14:before {
  content: "\e925";
  margin-left: -0.908203125em;
  color: none;
}
.icon-pen:before {
  content: "\e900";
}
.icon-code:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-video:before {
  content: "\e903";
}
.icon-Vector-7:before {
  content: "\e904";
}
.icon-hobby:before {
  content: "\e905";
}
.icon-basket .path1:before {
  content: "\e906";
  color: rgb(208, 208, 208);
}
.icon-basket .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(208, 208, 208);
}
.icon-basket .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(208, 208, 208);
}
.icon-basket .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(237, 76, 92);
}
.icon-basket .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 135, 54);
}
.icon-basket .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-basket .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-piano:before {
  content: "\e90d";
}
.icon-games .path1:before {
  content: "\e90e";
  color: rgb(89, 123, 145);
}
.icon-games .path2:before {
  content: "\e90f";
  margin-left: -1.1357421875em;
  color: rgb(43, 59, 71);
}
.icon-games .path3:before {
  content: "\e910";
  margin-left: -1.1357421875em;
  color: rgb(19, 32, 40);
}
.icon-games .path4:before {
  content: "\e911";
  margin-left: -1.1357421875em;
  color: rgb(0, 177, 255);
}
.icon-games .path5:before {
  content: "\e912";
  margin-left: -1.1357421875em;
  color: rgb(255, 182, 54);
}
.icon-games .path6:before {
  content: "\e913";
  margin-left: -1.1357421875em;
  color: rgb(255, 71, 62);
}
.icon-games .path7:before {
  content: "\e914";
  margin-left: -1.1357421875em;
  color: rgb(0, 184, 156);
}
.icon-games .path8:before {
  content: "\e915";
  margin-left: -1.1357421875em;
  color: rgb(89, 123, 145);
}
.icon-bike:before {
  content: "\e916";
}
